@import url('https://fonts.googleapis.com/css?family=Playwrite%20US%20Modern:700|Playwrite%20US%20Modern:400');
@import "tailwindcss";

@theme {
 --color-text: #f0f5ee;
 --color-background: #0f150d;
 --color-primary: #73d94b;
 --color-secondary: #416e68;
 --color-accent: #eb67dd;

 --color-text-50: #f1f6ef;
 --color-text-100: #e3ecdf;
 --color-text-200: #c6d9bf;
 --color-text-300: #aac69f;
 --color-text-400: #8eb47e;
 --color-text-500: #71a15e;
 --color-text-600: #5b814b;
 --color-text-700: #446039;
 --color-text-800: #2d4026;
 --color-text-900: #172013;
 --color-text-950: #0b1009;

 --color-background-50: #f1f5ef;
 --color-background-100: #e2ecdf;
 --color-background-200: #c6d8c0;
 --color-background-300: #a9c5a0;
 --color-background-400: #8db181;
 --color-background-500: #709e61;
 --color-background-600: #5a7e4e;
 --color-background-700: #435f3a;
 --color-background-800: #2d3f27;
 --color-background-900: #162013;
 --color-background-950: #0b100a;

 --color-primary-50: #effbea;
 --color-primary-100: #def6d5;
 --color-primary-200: #beedab;
 --color-primary-300: #9de481;
 --color-primary-400: #7cdb57;
 --color-primary-500: #5cd22d;
 --color-primary-600: #49a824;
 --color-primary-700: #377e1b;
 --color-primary-800: #255412;
 --color-primary-900: #122a09;
 --color-primary-950: #091504;

 --color-secondary-50: #eff6f5;
 --color-secondary-100: #dfecea;
 --color-secondary-200: #bfd9d6;
 --color-secondary-300: #9fc6c1;
 --color-secondary-400: #7eb4ac;
 --color-secondary-500: #5ea198;
 --color-secondary-600: #4b8179;
 --color-secondary-700: #39605b;
 --color-secondary-800: #26403d;
 --color-secondary-900: #13201e;
 --color-secondary-950: #09100f;

 --color-accent-50: #fce8fa;
 --color-accent-100: #f9d2f5;
 --color-accent-200: #f3a5eb;
 --color-accent-300: #ed78e2;
 --color-accent-400: #e84ad8;
 --color-accent-500: #e21dce;
 --color-accent-600: #b517a5;
 --color-accent-700: #87127c;
 --color-accent-800: #5a0c52;
 --color-accent-900: #2d0629;
 --color-accent-950: #170315;

 --font-fancy: Playwrite US Modern;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Georgia", "Times New Roman", serif;
}
