---

---
<footer class="p-[4rem] bg-background-900 flex flex-col">
  <div>
    <h1 class='text-3xl font-fancy'>Contact</h1>
  </div>
  <p class="text-text-500 text-center">&copy; Pastry Website</p>
</footer>
